<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SIte perso</title>
</head>
<body>
    <h1>Bonjour et bienvenue sur mon site!</h1>
    <p>Voici un lien sur un site comme le célèbre Airbnb,
     où l'on peut s'inscrire, créer une annonce d'appartements
      et réservez son voyage. Il est développé entièrement avec Symfony 4. 
      N'hésitez pas à créer votre compte 
      pour tester l'ensemble du site!</p>
    <a href="www.symbnb.pierremacaire.ovh">Lien vers le site Symbnb </a>
    <br>
    <p>Le Monde de l'Actu est un site d'informations reprenant les grandes lignes du site LeMonde.fr. 
    Il est réalisé avec Drupal 8.</p>
    <a href="www.lemondelactu.pierremacaire.ovh">Lien vers Le Monde de l'Actu</a>
</body>
</html>